html {
  font-size: 16px;
  /* @include tablet {
        font-size: 15px;

    }

   @include phone {
        font-size: 14px;
    }*/ }
  @media screen and (max-width: 360px) {
    html {
      font-size: 13px; } }

body, html {
  height: 100%; }

body {
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -0.0625rem;
  padding: 0rem;
  border: 0rem; }

ul {
  padding: 0rem;
  margin: 0rem; }
  ul li {
    list-style: none; }

p {
  padding: 0rem;
  margin: 0rem; }

.wrapper {
  position: relative;
  width: 100%;
  /*min-width: rem(960);*/
  min-height: 100%;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 40.625rem; }

.container {
  width: 95%;
  max-width: 58.75rem;
  margin: 0rem auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31); }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0rem;
  font-weight: normal; }

button, input, textarea {
  outline: none; }
  button:active, input:active, textarea:active {
    outline: none; }

input:focus, textarea:focus {
  border: 0.0625rem solid #e45028; }

.section-title {
  font-family: 'gagalinregular';
  font-weight: normal;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 0.8889em;
  text-transform: uppercase;
  color: #f9b43b; }
  @media screen and (max-width: 480px) {
    .section-title {
      font-size: 3.125rem;
      line-height: 1.2em; } }
  @media screen and (max-width: 360px) {
    .section-title {
      font-size: 2.5rem; } }
  .section-title_color_black {
    color: #2f3234; }
  .section-title_color_white {
    color: #ffffff; }
  .section-title_position_center {
    text-align: center; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("./../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("./../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("./../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("./../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("./../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("./../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("./../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("./../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("./../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.scroll-down__img-svg {
  fill: #ffffff;
  width: 1.75rem;
  height: 0.875rem;
  cursor: pointer; }

.button-burgers__previous-link {
  fill: #ffffff;
  width: 1.75rem;
  height: 0.875rem;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.button-burgers__next-link {
  fill: #ffffff;
  width: 1.75rem;
  height: 0.875rem;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.burgers-picture__composition-img {
  fill: #ffffff;
  width: 3.125rem;
  height: 2.8125rem; }

.burgers-picture__kkal-value-img {
  fill: #ffffff;
  width: 3.75rem;
  height: 4.0625rem;
  opacity: 0.5; }

.composition-list__item-img-svg {
  width: 3.125rem;
  height: 2.5625rem; }

.socials__icon {
  fill: #ffffff;
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0.3;
  cursor: pointer; }
  .socials__icon:hover {
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.footer__mobile-icon {
  fill: #e45028;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  margin-right: 0.5rem; }

.reason__img-sprite {
  width: 6.25rem;
  height: 6.25rem; }
  .reason__img-sprite_meat {
    fill: #e45028; }
  .reason__img-sprite_hand {
    fill: #f8b43a; }
  .reason__img-sprite_natural {
    fill: #8ac03e; }

.footer {
  background: url("./../pictures/backgrounds/footer.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  width: 100%;
  height: 3.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .footer {
      height: 3.75rem; } }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.1875rem; } }
  .footer .container_map {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 480px) {
      .footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .footer__column {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 480px) {
      .footer__column {
        width: 100%; } }
  .footer__contacts {
    font-family: 'ubuntulight';
    font-weight: normal;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.71em;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 480px) {
      .footer__contacts {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }
  .footer__adress {
    margin-bottom: 0.77%; }
  .footer__mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .footer__phone {
    font-family: 'ubuntubold';
    color: #e45028; }
  .footer__socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media screen and (max-width: 480px) {
      .footer__socials {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 1.875%; } }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .socials__item {
    margin-right: 1.25rem; }
    .socials__item:last-child {
      margin-right: 0rem; }
  .socials__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.pagination {
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  top: 13.9%;
  right: 4.5%; }

.pagination-list .pagination-item {
  position: relative;
  content: "";
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.4375rem;
  cursor: pointer; }
  .pagination-list .pagination-item_active {
    border: 0.0625rem solid white; }
  .pagination-list .pagination-item:hover {
    border: 0.0625rem solid white; }
  .pagination-list .pagination-item::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 0.375rem;
    height: 0.375rem;
    background-color: white;
    margin-top: 0.25rem;
    margin-left: 0.25rem; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.75rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo {
  width: 5.625rem;
  height: 4.375rem; }
  .header__logo .logo {
    overflow: hidden; }
    .header__logo .logo__img {
      width: 100%;
      max-width: 100%; }

.header__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.header__menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  margin-right: 1.25pxrem; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.8125rem; }
  .nav__list .nav__item {
    white-space: nowrap; }
    .nav__list .nav__item:last-child .nav__link::after {
      display: none;
      margin-right: 0.8125rem; }
  .nav__list .nav__link {
    font-family: 'ubuntumedium';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 2.3em;
    height: 4.375rem;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav__list .nav__link:hover {
      text-decoration: underline; }
    .nav__list .nav__link:after {
      content: "";
      display: block;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 50%;
      background: #ffffff;
      margin: 0rem 1rem; }

.menu-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.order-button {
  font-family: 'ubuntumedium';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 2.69em;
  color: #ffffff;
  background: #e45028;
  border-radius: 0.1875rem;
  border: none;
  height: 2.1875rem;
  width: 6.0625rem;
  cursor: pointer; }
  .order-button:hover {
    background: #c1401e;
    border: #c1401e;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .menu-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  .menu-link__block, .menu-link__block:before, .menu-link__block:after {
    background: #fff;
    width: 1.5rem;
    height: 0.3125rem;
    border-radius: 0.1875rem; }
  .menu-link__block:before, .menu-link__block:after {
    content: "";
    display: block;
    position: absolute; }
  .menu-link__block:before {
    top: 0; }
  .menu-link__block:after {
    bottom: 0; }

.composition-droptitle {
  background: #ffffff;
  opacity: 0.9;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  height: 20.75rem;
  width: 16.875rem;
  position: absolute;
  top: 0rem;
  left: 5.625rem;
  z-index: 10;
  display: none; }
  @media screen and (max-width: 768px) {
    .composition-droptitle {
      width: 20.0625rem; } }
  @media screen and (max-width: 480px) {
    .composition-droptitle {
      width: 79%; } }
  .composition-droptitle .composition-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .composition-droptitle .composition-list .composition-list__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0.25rem;
      font-family: 'ubuntumedium';
      font-weight: normal;
      font-style: normal;
      font-size: 0.875rem;
      line-height: 1.714em;
      color: #2f3234;
      text-transform: none; }
      .composition-droptitle .composition-list .composition-list__item-img {
        margin-right: 8%; }
        @media screen and (max-width: 768px) {
          .composition-droptitle .composition-list .composition-list__item-img {
            margin-right: 6.23%; } }
        @media screen and (max-width: 480px) {
          .composition-droptitle .composition-list .composition-list__item-img {
            margin-right: 5.4%; } }
      .composition-droptitle .composition-list .composition-list__item-name {
        width: 4.0625rem;
        margin-right: 27%; }
        @media screen and (max-width: 768px) {
          .composition-droptitle .composition-list .composition-list__item-name {
            margin-right: 18.72%; } }
        @media screen and (max-width: 480px) {
          .composition-droptitle .composition-list .composition-list__item-name {
            margin-right: 16.216%; } }
      .composition-droptitle .composition-list .composition-list__item-weight {
        width: 2.1875rem;
        font-family: 'ubuntulight';
        text-align: right; }
      .composition-droptitle .composition-list .composition-list__item-close {
        width: 1.125rem;
        height: 1.125rem;
        display: none; }
        .composition-droptitle .composition-list .composition-list__item-close-svg {
          width: 1.125rem;
          height: 1.125rem;
          fill: #eb8262; }
        @media screen and (max-width: 768px) {
          .composition-droptitle .composition-list .composition-list__item-close {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-top: -0.6875rem;
            margin-left: 9.345%; } }
        @media screen and (max-width: 480px) {
          .composition-droptitle .composition-list .composition-list__item-close {
            margin-left: 21.621%; } }

/*.composition-droptitle_active {
    left: rem(90);

}*/
.hidden-menu {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #2f3234;
  opacity: 0.99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15; }

.container_hidden-menu {
  width: 95%;
  max-width: 45rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0rem auto; }

.hidden-menu__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18.555%; }
  @media screen and (max-width: 360px) {
    .hidden-menu__header {
      margin-bottom: 10%; } }
  .hidden-menu__header-close {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.9375rem;
    cursor: pointer; }
    .hidden-menu__header-close-svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: #ffffff;
      opacity: .7; }

.hidden-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'ubunturegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.667em;
  text-transform: uppercase;
  color: #ffffff; }
  .hidden-menu__list a {
    color: #ffffff; }

.hidden-menu__item::after {
  content: "";
  display: block;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background: #ffffff;
  margin: 1.75rem auto; }
  @media screen and (max-width: 360px) {
    .hidden-menu__item::after {
      margin: 0.9375rem auto; } }

.hidden-menu__item:last-child::after {
  display: none; }

.hidden-menu_active {
  display: block; }

.burgers {
  background: url("./../pictures/backgrounds/burgers-linear-grad.svg") center center no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .burgers .container_burgers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    @media screen and (max-width: 768px) {
      .burgers .container_burgers {
        padding-left: 8.073%;
        padding-right: 8.073%; } }
    @media screen and (max-width: 480px) {
      .burgers .container_burgers {
        padding-left: 0;
        padding-right: 0; } }

.button-burgers {
  position: absolute; }
  .button-burgers_left {
    left: -2.5rem; }
    @media screen and (max-width: 768px) {
      .button-burgers_left {
        left: 0.75rem; } }
    @media screen and (max-width: 480px) {
      .button-burgers_left {
        left: 0rem; } }
  .button-burgers_right {
    right: -2.5rem; }
    @media screen and (max-width: 768px) {
      .button-burgers_right {
        right: 0.75rem; } }
    @media screen and (max-width: 480px) {
      .button-burgers_right {
        right: 0rem; } }

.burgers-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .burgers-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 9.073%;
      padding-right: 9.073%; } }
  @media screen and (max-width: 480px) {
    .burgers-content {
      padding-left: 0;
      padding-right: 0; } }
  .burgers-content .burgers-picture {
    width: 52%;
    position: relative;
    margin-right: -0.375rem;
    height: 29.375rem; }
    @media screen and (max-width: 768px) {
      .burgers-content .burgers-picture {
        width: 100%;
        height: 24.375rem;
        margin-right: 0;
        margin-bottom: 9%; } }
    @media screen and (max-width: 480px) {
      .burgers-content .burgers-picture {
        height: 22.5rem;
        margin-bottom: 7%; } }
    @media screen and (max-width: 360px) {
      .burgers-content .burgers-picture {
        height: 18.75rem;
        margin-bottom: 1.25rem; } }
    .burgers-content .burgers-picture__img {
      height: 19.6875rem;
      background-position: center left;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 4.375rem; }
      @media screen and (max-width: 768px) {
        .burgers-content .burgers-picture__img {
          margin-top: 4.6875rem;
          background-position: center center; } }
      @media screen and (max-width: 480px) {
        .burgers-content .burgers-picture__img {
          height: 15.875rem;
          margin-top: 6.875rem;
          background-position: center center; } }
      @media screen and (max-width: 360px) {
        .burgers-content .burgers-picture__img {
          height: 12.5rem;
          margin-top: 6.25rem; } }
      .burgers-content .burgers-picture__img img {
        width: 100%;
        margin-top: 14.9%; }
    .burgers-content .burgers-picture__composition {
      position: absolute;
      left: 0;
      top: 0;
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 0.3125rem;
      background: #f08c33;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      /* &:hover {
                background: $orange;
                transition: 0.5s;
            }*/ }
      @media screen and (max-width: 768px) {
        .burgers-content .burgers-picture__composition {
          width: 5.625rem;
          height: 5.625rem; } }
      @media screen and (max-width: 480px) {
        .burgers-content .burgers-picture__composition {
          width: 5.625rem;
          height: 5.625rem; } }
      .burgers-content .burgers-picture__composition-text {
        font-family: 'gagalinregular';
        font-weight: normal;
        font-style: normal;
        font-size: 4.5rem;
        line-height: 0.8889em;
        text-transform: uppercase;
        color: #f9b43b;
        font-size: 0.875rem;
        line-height: 2em;
        color: #ffffff; }
    .burgers-content .burgers-picture__kkal {
      position: absolute;
      bottom: 0;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 3.75rem;
      height: 4.6875rem; }
      @media screen and (max-width: 768px) {
        .burgers-content .burgers-picture__kkal {
          top: 0;
          left: 85%; } }
      @media screen and (max-width: 480px) {
        .burgers-content .burgers-picture__kkal {
          left: 86%; } }
      .burgers-content .burgers-picture__kkal-number {
        font-family: 'gagalinregular';
        font-weight: normal;
        font-style: normal;
        font-size: 4.5rem;
        line-height: 0.8889em;
        text-transform: uppercase;
        color: #f9b43b;
        font-size: 1.25rem;
        line-height: 0.125rem;
        color: #ffffff;
        opacity: 0.5;
        position: absolute;
        top: 2.5rem; }
      .burgers-content .burgers-picture__kkal-text {
        font-family: 'gagalinregular';
        font-weight: normal;
        font-style: normal;
        font-size: 4.5rem;
        line-height: 0.8889em;
        text-transform: uppercase;
        color: #f9b43b;
        font-size: 0.875rem;
        line-height: 0.125rem;
        color: #ffffff;
        opacity: 0.5; }
  .burgers-content .burgers-description {
    width: 48%; }
    @media screen and (max-width: 768px) {
      .burgers-content .burgers-description {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center; } }
    @media screen and (max-width: 768px) {
      .burgers-content .burgers-description .section-title {
        margin-left: -3%; } }
    @media screen and (max-width: 480px) {
      .burgers-content .burgers-description .section-title {
        line-height: 1.2em;
        margin-left: 19.8%;
        margin-right: 19.8%; } }
    .burgers-content .burgers-description__text {
      color: #ffffff;
      font-family: 'ubuntulight';
      font-weight: normal;
      font-style: normal;
      font-size: 0.875rem;
      line-height: 1.7142em;
      margin-top: 2.375rem;
      margin-bottom: 1.875rem; }
      @media screen and (max-width: 768px) {
        .burgers-content .burgers-description__text {
          margin-top: 3.929%;
          margin-bottom: 8%;
          margin-left: -8.073%;
          margin-right: -8.073%; } }
      @media screen and (max-width: 480px) {
        .burgers-content .burgers-description__text {
          margin-bottom: 1.5625rem;
          margin-left: 2.083%;
          margin-right: 2.083%; } }
      @media screen and (max-width: 360px) {
        .burgers-content .burgers-description__text {
          margin-bottom: 0.9375rem;
          margin-top: 1.25rem; } }
    .burgers-content .burgers-description__price {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
      .burgers-content .burgers-description__price-text {
        font-family: 'gagalinregular';
        font-weight: normal;
        font-style: normal;
        font-size: 4.5rem;
        line-height: 0.8889em;
        text-transform: uppercase;
        color: #f9b43b;
        color: #e45028;
        letter-spacing: -0.025em;
        margin-right: 1.875rem; }
        @media screen and (max-width: 480px) {
          .burgers-content .burgers-description__price-text {
            font-size: 3.125rem;
            line-height: 0.56em; } }
        @media screen and (max-width: 360px) {
          .burgers-content .burgers-description__price-text {
            font-size: 2.5rem;
            line-height: 0.56em; } }
        .burgers-content .burgers-description__price-text-small {
          font-size: 1.875rem; }
          @media screen and (max-width: 480px) {
            .burgers-content .burgers-description__price-text-small {
              font-size: 1.5rem;
              line-height: 1.167em; } }
          @media screen and (max-width: 360px) {
            .burgers-content .burgers-description__price-text-small {
              font-size: 1.25rem; } }

.section-title_feedback {
  position: absolute;
  z-index: 1;
  left: 40%; }

.feedback__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  .feedback__list .feedback__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    height: 50%;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 768px) {
      .feedback__list .feedback__item {
        width: 50%;
        height: 25%; } }
    .feedback__list .feedback__item .feedback__pic {
      width: 100%;
      height: 100%; }
    .feedback__list .feedback__item::after {
      content: "";
      display: block;
      position: absolute;
      background: rgba(69, 69, 69, 0.7);
      top: 0rem;
      left: 0rem;
      right: 0rem;
      bottom: 0rem;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0; }
    .feedback__list .feedback__item:hover::after {
      opacity: 1;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
    .feedback__list .feedback__item img {
      width: 100%;
      height: 100%; }
    .feedback__list .feedback__item .feedback__text {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      color: #ffffff;
      margin: 15.3% 10.8% 9.33% 6.15%;
      opacity: 0;
      z-index: 10; }
      @media screen and (max-width: 768px) {
        .feedback__list .feedback__item .feedback__text {
          margin: 7.3% 9.8% 7.33% 12.15%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          text-align: center; } }
      @media screen and (max-width: 480px) {
        .feedback__list .feedback__item .feedback__text {
          margin: 25% 10% 25% 10%; } }
      @media screen and (max-width: 480px) {
        .feedback__list .feedback__item .feedback__text {
          margin: 20% 10% 20% 10%; } }
      .feedback__list .feedback__item .feedback__text-name {
        font-family: 'gagalinregular';
        font-weight: normal;
        font-style: normal;
        font-size: 4.5rem;
        line-height: 0.8889em;
        text-transform: uppercase;
        color: #f9b43b;
        font-size: 0.875rem;
        line-height: 2.0079em;
        color: #ffffff;
        margin-bottom: 4.61%; }
        @media screen and (max-width: 768px) {
          .feedback__list .feedback__item .feedback__text-name {
            margin-bottom: 1.9531%; } }
        @media screen and (max-width: 480px) {
          .feedback__list .feedback__item .feedback__text-name {
            font-size: 1.5rem;
            line-height: 1.17em;
            margin-bottom: 13.375%; } }
        @media screen and (max-width: 480px) {
          .feedback__list .feedback__item .feedback__text-name {
            margin-bottom: 5%; } }
      .feedback__list .feedback__item .feedback__text-description {
        font-family: 'ubuntulight';
        font-weight: normal;
        font-style: normal;
        font-size: 0.875rem;
        line-height: 1.7143em;
        margin-bottom: 2.6154%; }
        @media screen and (max-width: 768px) {
          .feedback__list .feedback__item .feedback__text-description {
            margin-bottom: 2.9297%; } }
        @media screen and (max-width: 480px) {
          .feedback__list .feedback__item .feedback__text-description {
            display: none; } }
      .feedback__list .feedback__item .feedback__text .feedback__button-button {
        font-family: 'ubuntumedium';
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        font-size: 0.8125rem;
        line-height: 2.69em;
        color: #ffffff;
        background: #e45028;
        border-radius: 0.1875rem;
        border: none;
        height: 2.1875rem;
        width: 6.0625rem;
        cursor: pointer;
        background: #2f3234;
        width: 6.875rem; }
        .feedback__list .feedback__item .feedback__text .feedback__button-button:hover {
          background: #1f2122;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
        @media screen and (max-width: 480px) {
          .feedback__list .feedback__item .feedback__text .feedback__button-button {
            width: 8.125rem; } }

.feedback__item:hover .feedback__text {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.map {
  height: 100vh;
  width: 100%; }

.menu {
  background: url("./../pictures/backgrounds/menu.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }
  .menu .section-title {
    position: absolute;
    top: 17%;
    left: 8.63%; }
    @media screen and (max-width: 768px) {
      .menu .section-title {
        top: 11%;
        left: 1%; } }
    @media screen and (max-width: 480px) {
      .menu .section-title {
        top: 7.5%;
        left: 12.5%; } }
    @media screen and (max-width: 360px) {
      .menu .section-title {
        left: 8%; } }

.menu-accordeon {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  top: 0rem;
  right: 0rem;
  bottom: 0rem; }
  .menu-accordeon__item {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .menu-accordeon__trigger {
    width: 5rem;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr; }
    .menu-accordeon__trigger-title {
      font-family: 'gagalinregular';
      font-weight: normal;
      font-style: normal;
      font-size: 4.5rem;
      line-height: 0.8889em;
      text-transform: uppercase;
      color: #f9b43b;
      font-size: 2.5rem;
      line-height: 1.6em;
      color: #ffffff;
      white-space: nowrap;
      margin: auto;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
      @media screen and (max-width: 768px) {
        .menu-accordeon__trigger-title {
          margin-bottom: 2.5rem; } }
      @media screen and (max-width: 480px) {
        .menu-accordeon__trigger-title {
          margin-bottom: 3.75rem; } }
      @media screen and (max-width: 360px) {
        .menu-accordeon__trigger-title {
          font-size: 1.875rem;
          margin-bottom: 2.8125rem; } }
  .menu-accordeon__text {
    height: 100%;
    width: 0;
    background-color: #2f3234;
    opacity: 0.93;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; }
  .menu-accordeon__paragraph {
    font-family: 'ubuntulight';
    font-weight: normal;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.71em;
    color: #ffffff;
    width: 100%;
    padding: 9.23% 2.73%;
    display: none; }
    @media screen and (max-width: 768px) {
      .menu-accordeon__paragraph {
        padding: 5.9% 3.9%; } }
    @media screen and (max-width: 480px) {
      .menu-accordeon__paragraph {
        padding: 7.5% 8.34%; } }

.menu-accordeon__item_active {
  /* .menu-accordeon__text {
        width: rem(540);
        
      @include tablet {
            width: rem(530);
        }
        
        @include phone {
            width: rem(400); 
        }
    }*/ }
  .menu-accordeon__item_active .menu-accordeon__trigger-title {
    color: #f9b43b; }
  .menu-accordeon__item_active .menu-accordeon__paragraph {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.orderform {
  background: url("./../pictures/backgrounds/order.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section-title_orderform {
  margin-top: 13.846%;
  margin-bottom: 12.307%; }
  @media screen and (max-width: 768px) {
    .section-title_orderform {
      margin-top: 11.92%;
      margin-bottom: 10.84%; } }
  @media screen and (max-width: 480px) {
    .section-title_orderform {
      margin: 12.5% 19.8% 4.75% 19.8%; } }
  @media screen and (max-width: 360px) {
    .section-title_orderform {
      margin: 10% 19.8% 3% 19.8%; } }

.form__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 17.14%;
      margin-right: 17.14%; } }
  @media screen and (max-width: 480px) {
    .form__content {
      margin-left: 0;
      margin-right: 0; } }

.form__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 100%; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 360px) {
    .form__row {
      margin-bottom: 0.3125rem; } }
  .form__row_textarea {
    margin-bottom: 0.5rem; }
    @media screen and (max-width: 480px) {
      .form__row_textarea {
        margin-bottom: 2.5rem; } }
    @media screen and (max-width: 360px) {
      .form__row_textarea {
        margin-bottom: 0.625rem; } }
  .form__row_pay {
    margin-bottom: 1.1875rem; }
    @media screen and (max-width: 480px) {
      .form__row_pay {
        margin-bottom: 2.5rem;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media screen and (max-width: 360px) {
      .form__row_pay {
        margin-bottom: 0.625rem; } }
  @media screen and (max-width: 768px) {
    .form__row_call {
      margin-bottom: 2.5rem; } }
  @media screen and (max-width: 480px) {
    .form__row_call {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 360px) {
    .form__row_call {
      margin-bottom: 0.9375rem; } }
  @media screen and (max-width: 480px) {
    .form__row_button {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  @media screen and (max-width: 480px) {
    .form__block {
      margin-right: 0.625rem; } }
  @media screen and (max-width: 768px) {
    .form__block:last-child {
      margin-right: 0rem; } }
  @media screen and (max-width: 480px) {
    .form__block_flat {
      margin-right: 0rem; } }
  @media screen and (max-width: 480px) {
    .form__block_floor {
      display: none; } }
  .form__block-title {
    color: #ffffff;
    margin-bottom: 0.3125rem; }
  .form__block_textarea {
    margin-right: 0; }

.form__input {
  border: none;
  border-radius: 0.1875rem;
  padding: 0.625rem 0.625rem;
  width: 100%;
  height: 2.1875rem;
  cursor: pointer; }

.form__textarea {
  border: none;
  border-radius: 0.1875rem;
  padding: 0.625rem 0.625rem;
  resize: none;
  width: 100%;
  height: 7.125rem;
  cursor: pointer; }

.form__block-title_pay {
  margin-right: 0.9375rem;
  padding-left: 1.5625rem;
  position: relative;
  cursor: pointer; }
  .form__block-title_pay::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 0.9375rem;
    height: 0.9375rem;
    background: #ffffff;
    left: 0rem;
    top: 0.15625rem; }
  .form__block-title_pay::after {
    position: absolute;
    display: block;
    content: unset;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    background: #e45028;
    top: 0.40625rem;
    left: 0.28125rem; }

.form__block-title_call {
  padding-left: 1.5625rem;
  position: relative;
  cursor: pointer; }
  .form__block-title_call::before {
    position: absolute;
    content: "";
    width: 0.9375rem;
    height: 0.9375rem;
    background: #ffffff;
    left: 0rem;
    top: 0.15625rem;
    margin-right: 1.25rem; }
  .form__block-title_call::after {
    position: absolute;
    display: block;
    color: #e45028;
    top: -0.0625rem;
    left: 0.15625rem;
    width: 0.9375rem;
    height: 0.9375rem; }

.form__button {
  margin-right: 0.625rem; }

.form__button-submit {
  font-family: 'ubuntumedium';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 2.69em;
  color: #ffffff;
  background: #e45028;
  border-radius: 0.1875rem;
  border: none;
  height: 2.1875rem;
  width: 6.0625rem;
  cursor: pointer;
  line-height: 0em; }
  .form__button-submit:focus {
    border: none; }
  .form__button-submit:hover {
    background: #c1401e;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.form__button-reset {
  font-family: 'ubuntumedium';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 2.69em;
  color: #ffffff;
  background: #e45028;
  border-radius: 0.1875rem;
  border: none;
  height: 2.1875rem;
  width: 6.0625rem;
  cursor: pointer;
  line-height: 0em;
  background: transparent; }
  .form__button-reset:focus {
    border: 0.0625rem solid #2f3234; }
  .form__button-reset:hover {
    background: #2f3234;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.form__pay-element:checked + .form__block-title_pay:after {
  content: ""; }

.form__call-element:checked + .form__block-title_call:after {
  content: "\2714"; }

.team {
  background: url("./../pictures/backgrounds/team.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }
  .team .container_team {
    position: absolute;
    height: 100%;
    width: 49%;
    background: #2f3234;
    opacity: 0.93;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .team .container_team {
        width: 100%;
        top: 0rem;
        right: 0rem;
        bottom: 0rem;
        left: 0rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center; } }

.team-content {
  margin-left: 7.2727%;
  margin-top: 11.2308%;
  margin-right: 10.4545%; }
  @media screen and (max-width: 768px) {
    .team-content {
      margin-left: 24.2187%;
      margin-top: 12.0117%;
      margin-right: 24.2187%; } }
  @media screen and (max-width: 480px) {
    .team-content {
      margin-left: 12.5%;
      margin-top: 8.25;
      margin-right: 12.5%; } }

.section-title_team {
  margin-bottom: 13%; }
  @media screen and (max-width: 768px) {
    .section-title_team {
      margin-bottom: 32%; } }
  @media screen and (max-width: 480px) {
    .section-title_team {
      margin-bottom: 25%; } }
  @media screen and (max-width: 360px) {
    .section-title_team {
      margin-bottom: 3.125rem; } }

.team-accordeon__item {
  margin-bottom: 3.5%; }
  .team-accordeon__item:last-child {
    margin-bottom: 0rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__item {
      margin-bottom: 1.875rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .team-accordeon__item {
      margin-bottom: 8%; } }
  @media screen and (max-width: 360px) {
    .team-accordeon__item {
      margin-bottom: 1.25rem; } }
  .team-accordeon__item .team-accordeon__trigger {
    font-family: 'gagalinregular';
    font-weight: normal;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 2em;
    text-transform: uppercase;
    color: white;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer; }
    .team-accordeon__item .team-accordeon__trigger:before {
      content: "";
      height: 0rem;
      width: 0rem;
      border: 0.25rem solid transparent;
      border-top-color: #f9b43b;
      border-bottom-width: 0rem;
      margin-right: 0.625rem; }
    @media screen and (max-width: 768px) {
      .team-accordeon__item .team-accordeon__trigger {
        font-size: 1.525rem;
        line-height: 1.166em; } }
    @media screen and (max-width: 360px) {
      .team-accordeon__item .team-accordeon__trigger {
        font-size: 1.25rem; } }
  .team-accordeon__item .team-accordeon__content {
    height: 0;
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .team-accordeon__item .team-accordeon__content .team-accordeon__text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-top: 2%; }
      @media screen and (max-width: 768px) {
        .team-accordeon__item .team-accordeon__content .team-accordeon__text {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 3%; } }
      @media screen and (max-width: 480px) {
        .team-accordeon__item .team-accordeon__content .team-accordeon__text {
          padding-top: 4%; } }
      .team-accordeon__item .team-accordeon__content .team-accordeon__text .team-accordeon__pic {
        text-align: center;
        margin-left: 3.14%;
        margin-right: 4%; }
        @media screen and (max-width: 768px) {
          .team-accordeon__item .team-accordeon__content .team-accordeon__text .team-accordeon__pic {
            margin-left: 0rem;
            margin-right: 0rem;
            margin-bottom: 5%; } }
        @media screen and (max-width: 360px) {
          .team-accordeon__item .team-accordeon__content .team-accordeon__text .team-accordeon__pic {
            margin-bottom: 0.625rem; } }
        .team-accordeon__item .team-accordeon__content .team-accordeon__text .team-accordeon__pic-img {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center; }
      .team-accordeon__item .team-accordeon__content .team-accordeon__text .team-accordeon__description {
        font-family: 'ubuntulight';
        font-weight: normal;
        font-style: normal;
        font-size: 0.875rem;
        line-height: 1.71em;
        color: white; }
        .team-accordeon__item .team-accordeon__content .team-accordeon__text .team-accordeon__description-position {
          font-family: 'ubuntubold';
          margin-bottom: 2.3%; }
          @media screen and (max-width: 768px) {
            .team-accordeon__item .team-accordeon__content .team-accordeon__text .team-accordeon__description-position {
              margin-bottom: 2%; } }
          @media screen and (max-width: 360px) {
            .team-accordeon__item .team-accordeon__content .team-accordeon__text .team-accordeon__description-position {
              margin-bottom: 0.625rem; } }

.team-accordeon__item_active .team-accordeon__trigger {
  color: #f9b43b; }
  .team-accordeon__item_active .team-accordeon__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.we-best {
  background-image: url("./../pictures/backgrounds/webest.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .we-best .container_we-best {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.section-title_color_black {
  margin-top: 12%;
  margin-bottom: 13.84%; }
  @media screen and (max-width: 768px) {
    .section-title_color_black {
      margin-top: 12.21%;
      margin-bottom: 22%; } }
  @media screen and (max-width: 480px) {
    .section-title_color_black {
      margin-top: 10.5%;
      margin-bottom: 15.625%; } }

.reasons-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .reasons-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 4.17%;
      margin-right: 2.09%; } }
  .reasons-list .reason {
    width: 33.3334%;
    text-align: center;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    margin-right: 1.875rem; }
    .reasons-list .reason:last-child {
      margin-right: 0rem; }
    @media screen and (max-width: 480px) {
      .reasons-list .reason {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin-right: 0rem;
        text-align: left;
        margin-bottom: 6.875%; } }
    .reasons-list .reason__img {
      margin-bottom: 30px; }
      @media screen and (max-width: 480px) {
        .reasons-list .reason__img {
          margin-right: 6.25%; } }
    .reasons-list .reason__title {
      font-family: 'lifehackmedium';
      font-weight: normal;
      font-style: normal;
      font-size: 1.50625rem;
      line-height: 1.1664em;
      letter-spacing: -0.025em;
      color: #2f3234;
      white-space: pre-line;
      margin-bottom: 0.625rem; }
      @media screen and (max-width: 480px) {
        .reasons-list .reason__title {
          margin-bottom: 5%; } }
      @media screen and (max-width: 360px) {
        .reasons-list .reason__title {
          margin-bottom: 0.8125rem;
          font-size: 1.25rem; } }
    .reasons-list .reason__description {
      font-family: 'ubuntulight';
      font-weight: normal;
      font-style: normal;
      font-size: 0.87687rem;
      line-height: 1.7142em;
      color: #2f3234; }
      @media screen and (max-width: 360px) {
        .reasons-list .reason__description {
          font-size: 0.75rem; } }

.welcome-view {
  background: url("./../pictures/backgrounds/welcome.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .welcome-view .container_welcome-view {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.welcome-content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15.3%; }
  @media screen and (max-width: 768px) {
    .welcome-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin-bottom: 14.7%;
      padding-left: 17.9270%;
      padding-right: 17.9270%; } }
  @media screen and (max-width: 480px) {
    .welcome-content {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 8.75%;
      padding-left: 9%;
      padding-right: 9%; } }
  @media screen and (max-width: 360px) {
    .welcome-content {
      margin-bottom: 3.75%; } }
  .welcome-content .welcome-pic {
    width: 48%;
    height: 100%;
    overflow: hidden;
    margin-right: 1.09%;
    margin-left: 1.37%; }
    @media screen and (max-width: 768px) {
      .welcome-content .welcome-pic {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 7%; } }
    @media screen and (max-width: 480px) {
      .welcome-content .welcome-pic {
        margin-bottom: 12%; } }
    @media screen and (max-width: 360px) {
      .welcome-content .welcome-pic {
        margin-bottom: 2.25%; } }
    .welcome-content .welcome-pic__img {
      width: 100%;
      max-width: 100%; }
  .welcome-content .welcome-text {
    width: 49%; }
    @media screen and (max-width: 768px) {
      .welcome-content .welcome-text {
        width: 100%; } }
    .welcome-content .welcome-text .section-title_welcome {
      margin-top: 5rem;
      margin-bottom: 1.875rem; }
      @media screen and (max-width: 768px) {
        .welcome-content .welcome-text .section-title_welcome {
          margin-top: 0rem;
          margin-bottom: 5.906%; } }
      @media screen and (max-width: 480px) {
        .welcome-content .welcome-text .section-title_welcome {
          margin-bottom: 1.906%;
          font-size: 3.9375rem;
          line-height: 0.9524em; } }
      @media screen and (max-width: 360px) {
        .welcome-content .welcome-text .section-title_welcome {
          margin-bottom: 0.625rem;
          font-size: 2.6875rem;
          line-height: 0.9524em; } }
    .welcome-content .welcome-text .welcome__description {
      font-family: 'lifehackmedium';
      font-weight: normal;
      font-style: normal;
      font-size: 4.0625rem;
      line-height: 0.923em;
      text-transform: lowercase;
      letter-spacing: -0.029em;
      color: #ffffff; }
      @media screen and (max-width: 480px) {
        .welcome-content .welcome-text .welcome__description {
          font-size: 3.375rem;
          letter-spacing: -0.025em;
          line-height: 1.11em; } }
      @media screen and (max-width: 360px) {
        .welcome-content .welcome-text .welcome__description {
          font-size: 2.125rem; } }

.scroll-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6.15%; }
  @media screen and (max-width: 768px) {
    .scroll-down {
      margin-bottom: 6.5%; } }
  @media screen and (max-width: 480px) {
    .scroll-down {
      margin-bottom: 3.75%; } }
