// colors
$orange: #e45028;
$yellow: #f9b43b;
$white: #ffffff;
$dark: #2f3234;
$dark-orange: #c1401e;

//resolutions
$tablet: 768px;
$phone:  480px;
$iphonew: 360px;
$iphoneh: 605px;



@import "layout/_media";

//config
@import "config/_mixin";
@import "config/_variables";


//layout

@import "layout/_base";
@import "layout/_adjustment";
@import "layout/_fonts";
@import "layout/_sprite";


//elements
@import "sections/elements/_footer";
@import "sections/elements/_pagination";
@import "sections/elements/_header";

//sections
@import "sections/_burgers";
@import "sections/_feedback";
@import "sections/_map";
@import "sections/_menu";
@import "sections/_orderform";
@import "sections/_team";
@import "sections/_we-best";
@import "sections/_welcomeview";









