.wrapper {
    position: relative;
    width: 100%;
    /*min-width: rem(960);*/
    min-height: 100%;
    overflow: hidden;
}


  
.maincontent {
    height: 100%;
    min-height: rem(650);
}

  

.container {
    width: 95%;
    max-width: rem(940);
    margin: rem(0) auto;
    display: flex;
    flex-direction: column;

}
  

.section {
    height: 100vh;
    background-color: rgba(0,0,0,0.31);
    //min-width: rem(940);
    //min-height: rem(650);

}



a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: rem(0);
  font-weight: normal;
}


button, input, textarea {
    outline: none;

    &:active{
        outline: none;
    }
}

input:focus,  textarea:focus {
    border: rem(1) solid $orange;
}


.section-title {
    @include gagalin-title;

    @include phone {
        font-size: rem(50);
        line-height: 1.2em;
    }

    @include iphone {
        font-size: rem(40);
    }

    

    &_color {
        &_black {
            color: $dark;
        }

        &_white {
            color: $white;

        }
    }

    &_position {
        
        &_center{
            text-align: center;
        }
    }
}




