.scroll-down__img-svg {
  fill: $white;
  width: rem(28);
  height: rem(14);
  cursor: pointer;
}


.button-burgers__previous-link {
  fill: $white;
  width: rem(28);
  height: rem(14);
  cursor: pointer;
  transform: rotate(90deg);

}

.button-burgers__next-link {
  fill: $white;
  width: rem(28);
  height: rem(14);
  cursor: pointer;
  transform: rotate(-90deg);
  
}

.burgers-picture__composition-img {
  fill: $white;
  width: rem(50);
  height: rem(45);

}

.burgers-picture__kkal-value-img {
  fill: $white;
  width: rem(60);
  height: rem(65);
  opacity: 0.5;
}

.composition-list__item-img-svg{
  width: rem(50);
  height: rem(40);
  
}




.socials__icon {
    fill: $white;
    width: rem(20);
    height: rem(20);
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transition: 0.5s;
    }
    
}


.footer__mobile-icon {
  fill: $orange;
  width: rem(12);
  height: rem(12);
  cursor: pointer;
  margin-right: rem(8);

}


.reason__img-sprite {
  width: rem(100);
  height: rem(100);
  

  &_meat{
    fill: $orange;
    
  }

  &_hand {
    fill: #f8b43a;
    
  }

  &_natural {
    fill: #8ac03e;
    
  }

}
  

