.socials__icon {
    fill: $white;
    width: rem(20);
    height: rem(20);
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transition: 0.5s;
    }
    
}


.footer__mobile-icon {
  fill: $orange;
  width: rem(12);
  height: rem(12);
  cursor: pointer;
  margin-right: rem(8);

}


.reason__img-sprite {
  width: rem(100);
  height: rem(100);
  

  &_meat{
    fill: $orange;
    
  }

  &_hand {
    fill: #f8b43a;
    
  }

  &_natural {
    fill: #8ac03e;
    
  }

}
  

