@mixin h1 {
    font-family: 'gagalinregular';
    font-weight: normal;
    font-style: normal;
    font-size: 72px;
    line-height: 1.18em;
    text-transform: uppercase;
    color: #f9b43b; 
}

@mixin button-text {
    font-family: 'ubuntumedium';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase ;
    font-size: 13px;
    line-height: 2.69em;
    color: #ffffff;
    background: #e45028;
    border-radius: 3px;
    border: none;
    height: 35px;
    width: 97px;
    cursor: pointer;
}