@function rem($px) {
    @return ($px/16)+rem;
}

@mixin gagalin-title {
    font-family: 'gagalinregular';
    font-weight: normal;
    font-style: normal;
    font-size: rem(72);
    line-height: 1.18em;
    text-transform: uppercase;
    color: $yellow ; 

}


@mixin order-button {
    font-family: 'ubuntumedium';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase ;
    font-size: rem(13);
    line-height: 2.69em;
    color: $white;
    background: $orange ;
    border-radius: rem(3);
    border: none;
    height: rem(35);
    width: rem(97);
    cursor: pointer;
}







