.composition-droptitle  {
    background: $white;
    opacity: 0.9;
    padding: rem(20) ;
    border-radius: rem(5);
    height: rem(332); 
    width: rem(270) ; //55.5%
    position: absolute;
    top: rem(0);
    left: rem(90);
    z-index: 10;
    display: none;
    

    @include tablet {
        width:  rem(321);  
        
    }

    @include phone { 
        width: 79%; 
        
    }

    @include iphone { 
        padding: rem(10) ;  
        width: 73%; 

        
    }




    .composition-list {
        display: flex;
        flex-direction: column;


        .composition-list__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: rem(4);
            font-family: 'ubuntumedium';
            font-weight: normal;
            font-style: normal;
            font-size: rem(14);
            line-height: 1.714em;
            color: $dark;
            text-transform: none;

            @include iphone {
                font-size: rem(10);
            }


    
            &-img {
                margin-right: 8%; 

                @include tablet { 
                    margin-right:  6.23%; 
                }

                @include phone { 
                    margin-right: 4%; 
                }

                @include iphone { 
                    margin-right: 2%; 
                }
            
            }





            &-name {
                width: rem(65);
                margin-right: 27%;

                @include tablet { 
                    margin-right: 18.72%; 
                }

                @include phone { 
                    margin-right: 14%; 
                }

                @include iphone { 
                    margin-right: 7%; 
                }



               

            }

            &-weight {
                width: rem(35);
                font-family: 'ubuntulight';
                text-align: right;
            }


            &-close {
                width: rem(18);
                height: rem(18);
                display: none;

                &-svg {
                    width: rem(18);
                    height: rem(18);
                    fill:#eb8262;   
                }

                @include tablet {
                    display: flex; 
                    margin-top: rem(-11);
                    margin-left: 9.345%;
                }

                @include phone { 
                    margin-left: 15%;
                }

                @include iphone { 
                    margin-left: 10%; 
                }





            }


        }

    }

}



.composition-droptitle_active {
    display: block;
}




