
.footer {
    background: url("./../pictures/backgrounds/footer.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;
    left: rem(0);
    bottom: rem(0);
    width: 100%;
    height: rem(58) ;
    display: flex;

    @include tablet {
        height: rem(60) ; 
    }


    @include phone {
        height: rem(115) ; 
    }

    .container_map{
        justify-content: center;
    }
    

    &__content {
        display: flex;
        align-items: center;

        @include phone {
            flex-direction: column;
        }
    
    }

    &__column {
        width: 50%;
        display: flex;
        flex-direction: column;

        @include phone {
            width: 100%; 
            
        }
  
    }



    &__contacts {
        font-family: 'ubuntulight';
        font-weight: normal;
        font-style: normal;
        font-size: rem(14);
        line-height: 1.71em;
        color: $white;
        display: flex;
        flex-direction: column;

        @include phone {
            align-items:  center;
        }

        @include iphone {
           font-size: rem(12);
        }



    }


    &__adress {
        margin-bottom: 0.77%;
        
        @include iphone {
            margin-bottom: 0.4%;
        }
    }

    &__mobile {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        
    }

    &__phone {
        font-family: 'ubuntubold';
        color: $orange;
    }
    

    &__socials {
        display: flex;
        justify-content: flex-end;

        @include phone {
            justify-content: center;
            margin-top: 1.875%;
        }

        @include iphone {
            margin-top: 1%;
        }
       
    }


}


.socials {
    display: flex;
    
    
    &__item {
        margin-right: rem(20);

        &:last-child {
            margin-right: rem(0);
        }

    }

    &__link {
        display: flex;
    }
}








