.header {
    display: flex;
    align-items: center;
    margin-top: rem(12);
    justify-content: space-between;
}


.header__logo {
    width: rem(90);
    height: rem(70);

    .logo {
        overflow: hidden;
    
        &__img {
            width: 100%;
            max-width: 100%;
        }
    }
}


.header__links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__menu {
    flex: 1;
	text-align: right;
	margin-right: rem(20px);

  @include tablet {
    display: none;
  }
}




.nav__list {
    display: flex;
    margin-right: rem(13);

   
    .nav__item {
        white-space: nowrap;

        &:last-child {
            .nav__link::after{
                display: none;
                margin-right: rem(13);
            }
        }
    }

    .nav__link {
        font-family: 'ubuntumedium';
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase ;
        font-size: rem(13);
        line-height: 2.3em;
        height: rem(70);
        color: $white;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: underline;
        }

        &:after {
            content: "";
            display: block;
            width: rem(4);
            height: rem(4);
            border-radius: 50%;
            background: $white;   
            margin: rem(0) rem(16);
        }
       
    }
}

.menu-buttons {
    display: flex;
    align-items: center;
    
}


.order-button {
    @include order-button;


    &:hover {
        background: $dark-orange;
        border: $dark-orange;
        transition: 0.5s;
    }
}



.menu-link {
    vertical-align: middle;
	position: relative;
	height: rem(22);
	align-items: center;
	margin-left: rem(30);
    display: none;

    @include tablet {
        display: flex;

    }

    &__block {

        &, &:before, &:after {
            background: #fff;
            width: rem(24);
            height: rem(5);
            border-radius: rem(3);
        }
    
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
    
        &:before {
            top: 0;
        }
    
        &:after {
            bottom: 0;
        }
    }
}







