.pagination {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-flow: column;
    top: 13.9%;
    right: 4.5%;
    
}

.pagination-list {

    .pagination-item {
        position: relative;
        content: "";
        border-radius: 50%;
        width: rem(16);
        height: rem(16);
        margin-bottom: rem(7);
        cursor: pointer;

        &_active {
          border: rem(1) solid white;
        }

        &:hover {
            border: rem(1) solid white;  
            transition: .5s;
        }

        &::after {
            position: absolute;
            content: "";
            border-radius: 50%;
            width: rem(6);
            height: rem(6);
            background-color: white;
            margin-top: rem(4);
            margin-left: rem(4);
        } 
        
    } 

}






























