

.section-title_feedback { 
    position: absolute;
    z-index: 1;
    left: 40%;
    
}



.feedback-items {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;


    .feedback-item {
        display: flex;
        width: 25%;
        height: 50%;
        position: relative;
        filter: grayscale(100%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;


        .feedback-pic {
            width: 100%;
            height: 100%;
        }
    


        &::after {
            content: "";
            display: block;
            position: absolute;
            background: rgba(#454545, .7);
            top: rem(0);
            left: rem(0);
            right: rem(0);
            bottom: rem(0);
            height: 100%;
            width: 100%;
            z-index: 1;
            opacity: 0;
            
        }


        &:hover::after {
            opacity: 1;
            transition: 1s;

        }



        img {
            width: 100%;
            height: 100%;
        }


        .feedback-text {
            position: absolute;
            display: flex;
            flex-direction: column;
            color: $white;
            margin: 15.3% 10.8% 9.33% 6.15%;
            opacity: 0;
            z-index: 2;
            

            &__name {
                @include gagalin-title;
                font-size: rem(14);
                line-height: 2.0079em;
                color: $white ;
                margin-bottom: rem(30);
            }
            

            &__description {
                font-family: 'ubuntulight';
                font-weight: normal;
                font-style: normal;
                font-size: rem(14);
                line-height: 1.7143em;
                margin-bottom: rem(17);
            }

            .feedback-button__button {
                @include order-button;
                background: $dark;
                width: rem(110);
            
                &:hover {
                    background: #1f2122;
                    transition: 0.5s;
                }
            }
        }

    }
    
}



.feedback-item:hover .feedback-text {
    opacity: 1;
    transition: opacity 1s;

}






