.menu {
    background: url("./../pictures/backgrounds/menu.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

    .section-title {
        position: absolute;
        top: 17%;
        left: 8.63%;
    
        @include tablet {
            top: 11%;
            left: 1%;

        }
    
        @include phone {
            top: 7.5%;
            left: 12.5%;
        }

        @include iphone {
            left: 8%;
        }

    }
    
}




.menu-accordeon {
position: absolute;
display: flex;
flex-direction: row;
top: rem(0);
right: rem(0);
bottom: rem(0);


    &__item {
        height: 100%;
        display: flex;
        flex-direction: row;         
    
    }



    &__trigger {
        width: rem(80);
        height: 100%;
        display: flex;
        text-decoration: none;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        writing-mode: vertical-lr;

    

        &-title {
            @include gagalin-title;
            font-size: rem(40);
            line-height: 1.6em;
            color: $white;
            white-space: nowrap;
            margin: auto;
            transform: rotate(180deg);

            @include tablet {
                margin-bottom: rem(40);
            }

            @include phone {
                margin-bottom: rem(60); 
            }

            @include iphone {
                font-size: rem(30); 
                margin-bottom: rem(45);
            }


        }
    }

   

    &__text{
        height: 100%;
        width: 0;
        overflow: hidden;
        background-color: $dark;
        opacity: 0.93;
        display:flex ;
        

    }

    &__paragraph {
        font-family: 'ubuntulight';
        font-weight: normal;
        font-style: normal;
        font-size: rem(14);
        line-height: 1.71em;
        color: $white;
        width: 100%;
        padding: 9.23% 2.73%;
        display: none;

        @include tablet {
            padding: 5.9% 3.9%;
        }
       

        @include phone {
            padding: 7.5% 8.34%;
        }
        

    }
}




.menu-accordeon__item_active {

    .menu-accordeon__trigger-title {
        color: $yellow;
    }
                    
    .menu-accordeon__text {
        width: rem(540);
        
        @include tablet {
            width: rem(530);
        }
        
        @include phone {
            width: rem(400); 
        }
    }

    .menu-accordeon__paragraph {
        display: flex;
    }
    
}




