.menu {
    background: url("./../pictures/backgrounds/menu.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

    .section-title {
        position: absolute;
        top: 17%;
        left: 8.63%;
    
        @include tablet {
            top: 11%;
            left: 1%;

        }
    
        @include phone {
            top: 7.5%;
            left: 12.5%;
            font-size: rem(35);
        }
        

        @include iphone {
            left: 1%;
            font-size: rem(25);
        }

    }
    
}


.menu-accordeon {
position: absolute;
display: flex;
flex-direction: row;
top: 0;
right: 0;
bottom: 0;
height: 100%;


    &__item {
        height: 100%;
        display: flex;
        flex-direction: row;         
    
    }


    &__trigger {
        width: rem(80);
        height: 100%;
        display: flex;
        text-decoration: none;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        writing-mode: vertical-lr;

    

        &-title {
            @include gagalin-title;
            font-size: rem(40);
            line-height: 1.6em;
            color: $white;
            white-space: nowrap;
            margin: auto;
            transform: rotate(180deg);

            @include tablet {
                margin-bottom: rem(40);
            }

            @include phone {
                margin-bottom: rem(60); 
            }

            @include iphone {
                font-size: rem(30); 
                margin-bottom: rem(45);
            }


        }
    }

   

    &__text{
        height: 100%;
        width: 0;
        background-color: $dark;
        opacity: 0.93;
        display:flex ;
        overflow: hidden;
        transition: 1s;

        @include phone {
            position: relative;
            transition: none;

        }




    }

    &__paragraph {
        font-family: 'ubuntulight';
        font-weight: normal;
        font-style: normal;
        font-size: rem(14);
        line-height: 1.71em;
        color: $white;
        width: 100%;
        padding: 9.23% 2.73%;
        display: none;
        

        

        @include tablet {
            padding: 5.9% 3.9%;
        }
       

        @include phone {
            padding: 7.5% 8.34%;
        }
        

    }

    &__close {
        margin-top: 3.75%;
        margin-right: 6.25%;
        display: none;

        @include phone {
            display: block;
        }

        &-svg {
            fill: #c1c2c2;
            width: rem(20);
            height: rem(20);

        }
    }

}




.menu-accordeon__item_active {

    .menu-accordeon__trigger-title {
        color: $yellow;
    }
                    

    .menu-accordeon__paragraph {
        display: flex;
    }
    
}









