.orderform {
    background: url("./../pictures/backgrounds/order.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}

.section-title_orderform {
    margin-top:  13.846%;
    margin-bottom: 12.307%;


    @include tablet {
        margin-top:  11.92%;
        margin-bottom: 10.84%; 
    }

    @include phone {
        margin: 12.5% 19.8% 4.75% 19.8%;
    }

    @include iphone {
        margin: 3% 19.8% 3% 19.8%;
    }

}





.form {
    @include iphone {
        font-size: rem(13);
    }

    &__content {
        display: flex;

        @include tablet {
            flex-direction: column;
            margin-left: 17.14%;
            margin-right: 17.14%;

        }

        @include phone {
            margin-left: 0;
            margin-right: 0;

        }
   
    }

    &__column {
        display: flex;
        width: 50%;
        flex-direction: column;
        
        @include tablet {
            width: 100%;
        }
    }



    &__row {
        display: flex;
        margin-bottom: rem(15);

        @include iphone {
            margin-bottom: rem(3); 
        }


        &_textarea {
            margin-bottom: rem(8); 

            @include phone {
                margin-bottom: rem(40); 
            }

            @include iphone {
                margin-bottom: rem(7); 
            }
        }

        &_pay {
            margin-bottom: rem(19);

            @include phone {
                margin-bottom: rem(40); 
                justify-content: center;
            }

            @include iphone {
                margin-bottom: rem(7); 
            }


        }

        &_call {
            @include tablet {
                margin-bottom: rem(40);
                
            }

            @include phone {
                justify-content: center;
            }  

            @include iphone {
                margin-bottom: rem(10); 
            }

        }

        &_button {
            @include phone {
                justify-content: center;
            }  
        }

    }



    
    &__block {
        flex: 1;
        margin-right: rem(20);

        @include phone {
            margin-right: rem(10);
        }

        &:last-child {
            @include tablet {
                margin-right: rem(0);
    
            }
        }

        &_flat {
            @include phone {
                margin-right: rem(0);
    
            }
        }

        &_floor {           

            @include phone {
                display: none;
            }
        }


        &-title {
            color: $white;
            margin-bottom: rem(5);

        }

        &_textarea {
            margin-right: 0;
        }

    }



   &__input {
       border: none;
       border-radius: rem(3);
       padding: rem(10) rem(10);
       width: 100%;
       height: rem(35);
       cursor: pointer;

       @include iphone {
        height: rem(30); 
       }


   }

    &__textarea {
        border: none;
        border-radius: rem(3);
        padding: rem(10) rem(10);
        resize: none;
        width: 100%;
        height: rem(114); 
        cursor: pointer;

        @include iphone {
            height: rem(100); 
        }

    }


    &__block-title_pay {
        margin-right: rem(15);
        padding-left: rem(25);
        position: relative;
        cursor: pointer;


        &::before {
            position: absolute;
            content: "";
            border-radius: 50%;
            width: rem(15);
            height: rem(15);
            background: $white;
            left: rem(0);
            top: rem(2.5);

        }


        &::after {
            position: absolute;
            display: block;
            content: unset;
            width: rem(7);
            height: rem(7);
            border-radius: 50%;
            background: $orange;
            top: rem(6.5);
            left: rem(4.5); 

        }
    }




    &__block-title_call {
        padding-left: rem(25);
        position: relative;
        cursor: pointer;



        &::before {
            position: absolute;
            content: "";
            width: rem(15);
            height: rem(15);
            background: $white;
            left: rem(0);
            top: rem(2.5);
            margin-right: rem(20);

        }


        &::after {
            position: absolute;
            display: block;
            color: $orange;
            top: rem(-1);
            left: rem(2.5); 
            width: rem(15);
            height: rem(15);

        }
    }



    &__button {
        margin-right: rem(10);
    }

    &__button-submit {
        @include order-button;
        line-height: 0em;

        &:focus {
            border: none;
        }

        &:hover {
            background: $dark-orange;
            transition: 0.5s;
        }

       
    }


    &__button-reset {
        @include order-button;
        line-height: 0em;
        background: transparent;
        
        &:focus {
            border: rem(1) solid $dark;
        }

        &:hover {
            background: $dark;
            transition: 0.5s;
        }

    }

}






.form__pay-element:checked + .form__block-title_pay:after{
  content: "";
}

.form__call-element:checked + .form__block-title_call:after{
    content: "\2714";

  }

  


