.team {
    background: url("./../pictures/backgrounds/team.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

    .container_team {
        position: absolute;
        height: 100%;
        width: 49%;
        background: $dark;
        opacity: 0.93;
        top: rem(0);
        right: rem(0);
        bottom: rem(0);
        display: flex;
        flex-direction: row;
        
    }
}




.team-content {
    margin-left: rem(80);
    margin-top: rem(73);
    margin-right: rem(115);

}





.section-title_team {
    margin-bottom: rem(65);

}


.team-accordeon__item {
    margin-bottom: 6.15%;
    display: flex;
    flex-direction: column;


    .team-accordeon__trigger {
        font-family: 'gagalinregular';
        font-weight: normal;
        font-style: normal;
        font-size: rem(14);
        line-height: 2em;
        text-transform: uppercase;
        color: white;
        display: flex;
        align-items: center;
        
        &:before {
            content: "";
            height: rem(0);
            width: rem(0);
            border: rem(5.5) solid transparent;
            border-top-color: $yellow ;
            border-bottom-width: rem(0);
            margin-right: rem(12);

        }

    }

    

    .team-accordeon__text {
        display: flex;
        flex-direction: row;
        height: rem(0);
        overflow: hidden;

        
        .team-accordeon__pic {
            width: rem(100);
            height: rem(100);
            border-radius: 50%;
            margin-left: 3.14%;
            margin-right: 5%;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            &-img {
                max-width: rem(100);
                max-height: rem(100);
    
            }
        }

        .team-accordeon__description {
            font-family: 'ubuntulight';
            font-weight: normal;
            font-style: normal;
            font-size: rem(14);
            line-height: 1.71em;
            color: white;

            &-position {
                font-family: 'ubuntubold';
                margin-bottom: 2.3%;

            }
        }
    }

}

.team-accordeon__item_active {

    .team-accordeon__text {
    margin-top: rem(10);
    height: auto;
    }

    
    .team-accordeon__trigger {
        color: $yellow;

        &:before {
            transform: rotate(-180deg);
          }
    }
}






















