.team {
    background: url("./../pictures/backgrounds/team.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

    .container_team {
        position: absolute;
        height: 100%;
        width: 49%;
        background: $dark;
        opacity: 0.93;
        top: rem(0);
        right: rem(0);
        bottom: rem(0);
        display: flex;
        align-items: center;
        flex-direction: column;



        @include tablet {
            width: 100%;
            top: rem(0);
            right: rem(0);
            bottom: rem(0);
            left: rem(0);
            flex-direction: column;
            align-items: center;
            text-align: center;
            

        }
        
    }
}




.team-content {
    margin-left: 7.2727%;
    margin-top: 11.2308%;
    margin-right: 10.4545%;


    @include tablet {
        margin-left: 24.2187%;
        margin-top: 12.0117%;
        margin-right: 24.2187%;
   
    }

    @include phone {
        margin-left: 12.5%;
        margin-top: 8.25;
        margin-right: 12.5%;
    }

}


.section-title_team {
    margin-bottom: rem(90);

    @include tablet {
        margin-bottom: rem(128);
    }

    @include phone {
        margin-bottom: rem(100);
    }

}


.team-accordeon__item {
    margin-bottom: rem(35);
   
    &:last-child {
        margin-bottom: rem(0);

    }

    @include tablet {
        margin-bottom: rem(30);
        align-items: center;
    }

    @include phone {
        margin-bottom: rem(40);
    }


    .team-accordeon__trigger {
        font-family: 'gagalinregular';
        font-weight: normal;
        font-style: normal;
        font-size: rem(14);
        line-height: 2em;
        text-transform: uppercase;
        color: white;
        display: inline-flex;
        align-items: center;
        margin-bottom: rem(20);
        position: relative;


        &:before {
            content: "";
            height: rem(0);
            width: rem(0);
            border: rem(5.5) solid transparent;
            border-top-color: $yellow ;
            border-bottom-width: rem(0);
            margin-right: rem(12);

        }

        @include tablet {
            font-size: rem(24.4);
            line-height: 1.166em;
        }

    }

    

    .team-accordeon__text {
        display: flex;
        flex-direction: row;
        height: 0 ;
        opacity: 0 ;


        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        
        .team-accordeon__pic {
            text-align: center;
            margin-left: 3.14%;
            margin-right: 5%;

            
            @include tablet {
                margin-left: rem(0);
                margin-right: rem(0); 
                margin-bottom: rem(20);
            }

            &-img {
                width: rem(100);
                height: rem(100);
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;

    
            }

        }

        .team-accordeon__description {
            font-family: 'ubuntulight';
            font-weight: normal;
            font-style: normal;
            font-size: rem(14);
            line-height: 1.71em;
            color: white;
            

           




            &-position {
                font-family: 'ubuntubold';
                margin-bottom: 2.3%;

                @include tablet {
                    margin-bottom: rem(20);
                }

            }
        }
    }

}


.team-accordeon__item_active {

    .team-accordeon__text {
        height: auto ;
        opacity: 1 ;
    }

    .team-accordeon__trigger {
        color: $yellow;

        &:before {
            transform: rotate(-180deg);
          }
    }
}






















