.we-best{
    background-image: url("./../pictures/backgrounds/webest.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:  cover;
    display: flex;
    align-items: center;

    .container_we-best {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



.section-title_color_black {
    margin-top: 12%;
    margin-bottom: 13.84%;
    
    
    @include tablet {
        margin-top: 12.21%;
        margin-bottom: 22%;
        
    }

    @include phone {
        margin-top: 10.5%;
        margin-bottom: 15.625%;
    }

    @include iphone {
        margin-top: 8.5%;
        margin-bottom: 8.5%;
    }
}


.reasons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    @include phone {
        flex-direction: column;
        margin-left: 4.17%;
        margin-right: 2.09%;
    }

    .reason {
        width: 33.3334%;
        text-align: center;
        align-self: baseline;
        margin-right: rem(30);

        &:last-child {
            margin-right: rem(0);
        }

        @include phone {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-right: rem(0);
            text-align: left;
            margin-bottom: 6.875%;
       }

       @include iphone {
        margin-bottom: 4%;
   }

   


        &__img {
            margin-bottom: 30px;
            

            @include phone {
                margin-right: 6.25%;
            }
        }


        &__title {

            font-family: 'lifehackmedium';
            font-weight: normal;
            font-style: normal;
            font-size: rem(24.1);
            line-height: 1.1664em;
            letter-spacing: -0.025em;
            color: $dark;
            white-space: pre-line;
            margin-bottom: rem(10);

            @include phone {
                margin-bottom: 5%;
            }

            @include iphone {
                margin-bottom: rem(8);
                font-size: rem(16);

            }
            


        }

        &__description {
            font-family: 'ubuntulight';
            font-weight: normal;
            font-style: normal;
            font-size: rem(14.03);
            line-height: 1.7142em;
            color: $dark;

            @include iphone {
                font-size: rem(12);

            }

            @include iphone {
                font-size: rem(10);


            }
        }
    }
}




















