.welcome-view {
    background: url("./../pictures/backgrounds/welcome.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;

    .container_welcome-view {
        flex: 1;
        display: flex;
    }
}



.welcome-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 15.3%;

    @include tablet {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 14.7%;
        padding-left: 17.9270%;
        padding-right:  17.9270%;

    }

    @include phone {
        justify-content: center;
        margin-bottom: 8.75%;
        padding-left: 9%;
        padding-right:  9%;

    }  

    @include iphone {
        margin-bottom: 3.75%;
    }


   
    .welcome-pic {
        width: 48%;
        height: 100%;
        overflow: hidden;
        margin-right: 1.09%;
        margin-left: 1.37%;

        @include tablet {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 7%; 
        }

        @include phone {
            margin-bottom: 12%;

        }

        @include iphone {
            margin-bottom: 2.25%;
        }

    
        
        &__img {
            width: 100%;
            max-width: 100%;
        }  
    }

    .welcome-text {
        width: 49%;

        @include tablet {
            width: 100%;
        }

        .section-title_welcome {
            margin-top: rem(80);
            margin-bottom: rem(30);


            @include tablet {
                margin-top: rem(0);
                margin-bottom: 5.906%;
           }

            @include phone {
                margin-bottom: 1.906%; 
                font-size: rem(63);
                line-height: 0.9524em;
           }

            @include iphone {
                margin-bottom: rem(10); 
                font-size: rem(43);
                line-height: 0.9524em;
            }


        }

        

        .welcome__description {
            font-family: 'lifehackmedium';
            font-weight: normal;
            font-style: normal;
            font-size: rem(65);
            line-height: 0.923em;
            text-transform: lowercase;
            letter-spacing: -0.029em;
            color: #ffffff; 

            @include phone {
                font-size: rem(54);
                letter-spacing: -0.025em;
                line-height: 1.11em;
            }

            @include iphone {
                font-size: rem(34);
            
            }

        }

    } 
}

.scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.15%;

    @include tablet {
        margin-bottom: 6.5%;
    }

    @include phone {
        margin-bottom: 3.75%;
    }
    
}

