.welcome-view {
    background: url("./../pictures/backgrounds/welcome.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;

    .container_welcome-view {
        flex: 1;
        display: flex;
    }
}

.welcome-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 15.3%;

    @include tablet {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .welcome-pic {
        width: rem(451);
        height: rem(420);
        overflow: hidden;
        margin-right: rem(12);
        margin-left: rem(15);

        @include tablet {
            margin-right: rem(0);
        }
        
        
        &__img {
            width: 100%;
            max-width: 100%;
        }  
    }

    .welcome-text {
        width: rem(460);

        .section-title {
           margin-top: rem(70);
           margin-bottom: rem(20);
        }

        
        

        .welcome__description {
            font-family: 'lifehackmedium';
            font-weight: normal;
            font-style: normal;
            font-size: rem(65);
            line-height: 0.92em;
            text-transform: lowercase;
            letter-spacing: -0.029em;
            color: #ffffff; 
        }
    } 
}

.scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.15%;
    
    &__img {
        background: url("./../pictures/icons/arrow-scroll.svg") center center no-repeat;
        width: rem(30);
        height: rem(15);
    }
    
}

